<%-include('partials/header.ejs',{style:"stylesheets/about.css"}) %>
  
<% if(currentUser){%>
  <%- include("partials/LoggedNavbar.ejs"); -%>
<%} else {%>
  <%- include("partials/navbar.ejs"); -%>
<%}%>
<%-include("partials/flash.ejs") %>


<section class="intro">
  <div class="container">
     <div class="row">
     <div class = "text col-sm-3 col-md-6 col-lg-6  mb-2">
      <h2><p style="color:aqua; font-weight: bold; padding-top:3rem;">We just love what we do,</p></h2>
      <h3>
        <p style="line-height:3rem ; ">Helped many students to get their answers for some questions come out of their curiosity.
          And living our dream to create something valuable.
        </p>
        <div >
          <a href="/"><button class="aboutbtn">Explore!</button></a>
        </div>
      </h3>
      </div>

      <div class = "img col-sm-9 col-md-6 col-lg-6 mb-2 mt-5 ">
        <img style="float:right;" src="images/5238892-removebg-preview.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<div class="about_section">
  <div class="inner_container lead">
    <h1 class="fs-1">ABOUT US</h1>
            <p class="fst-italic">
                Welcome to Curiosity, your number one source for all Engineering related query. We're dedicated to giving you the very best of this forum, with a focus on privacy, security and smooth experience. Founded in 2021 , Curiosity has come a long way from its beginnings . We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.We're working to turn our passion for Question answer into a booming online website. We hope you enjoy our Question answer as much as we enjoy offering them to you.We will keep posting more important posts on my Website for all of you. Please give your support and love.The information contained on the Service is for general information purposes only.
               
                <p class="fst-italic">
                The Company assumes no responsibility for errors or omissions in the contents of the Service.
                
                In no event shall the Company be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. The Company reserves the right to make additions, deletions, or modifications to the contents on the Service at any time without prior notice.
                
                The Company does not warrant that the Service is free of viruses or other harmful components.
                </p>

          <p>Sincerely,
         </p>Curiosity.
            </p>
  </div>
</div>

 <%-include('partials/footer.ejs') %>

<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
  </body>
  </html>
