<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>
  <% if(currentUser){%>
    <%- include("partials/LoggedNavbar.ejs"); -%>
      <%} else {%>
        <%- include("partials/navbar.ejs"); -%>
          <%}%>


            <%-include("partials/flash.ejs") %>

              <section class="my_acc">
                <div class="container">
                  <div class="row">
                    <div class="user_profile">
                      <i class="user_icon fas fa-user-circle fa-10x"></i>
                      <div class=" upload">
                        <input type="file" id="actual-btn" hidden>
                        <label for="actual-btn" style="cursor: pointer; color: black;"><i
                            class="fas fa-camera fa-2x"></i></label>
                      </div>
                    </div>
                    <div class="usename">
                      <span class="display-6"><%=user.username%></span>
                      <p><%=user.intro%></p>
                    </div>
                  </div>
                </div>
              </section>

              <div class="container mb-2">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                      type="button" role="tab" aria-controls="nav-home" aria-selected="true">Info</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Change
                      Password</button>
                  </div>
                </nav>
              </div>


              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <section>
                    <div class="container">
                      <div class="row">
                        <div class="mdl-card">
                          <div class="card-body">
                            <div class="card-title">
                              <form action="/editprofile" method="POST">
                                <div class="mb-3">
                                  <label class="form-label" for="exampleFormControlInput1">Stream </label>
                                  <select class="form-select form-control-lg" name= "stream">
                                    <option value="cse">Computer Science Engineering or IT</option>
                                    <option value="ece">Electronic and Communication Engineering</option>
                                    <option value="ee">Electrical Engineering</option>
                                    <option value="me">Mechanical Engineering</option>
                                    <option value="ce">Chemical Engineering</option>
                                    <option value="ct">Ceramic Technology</option>
                                    <option value="lt">Leather Technology</option>
                                    <option value="ft">Food Technology</option>
                                    <option value="cv">Civil Engineering</option>
                                    <option value="ot">Others</option>
                                   
                            
                                  </select>
                                </div>
                              

                               <div class="mb-3">
                                  <label for="exampleFormControlInput1" class="form-label">Bio</label>
                                  <input type="text" class="form-control form-control-lg" name="bio">
                                </div>


                                <button class="btn btn-primary" type="submit">Submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>


                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="container">
                    <div class="row">
                      <div class="mdl-card">
                        <div class="card-body">
                          <div class="card-title">
                            <form method="POST" action="/changepassword">

                              <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Old Password</label>
                                <input type="password" class="form-control" name="oldpassword" required>
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">New Password</label>
                                <input type="password" class="form-control" name="newpassword" required>
                              </div>
                          </div>
                          <button class="btn btn-primary" type="submit">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

              </div>

              <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
              </body>
              </html>