<%-include('partials/header.ejs' , {style:"stylesheets/index.css"}) -%>

  <% if(currentUser){%>
          <%- include("partials/LoggedNavbar.ejs"); -%>
    <%} else {%>
          <%- include("partials/navbar.ejs"); -%>
    <%}%>
  <%-include("partials/flash.ejs") %>
  
  <body>

    <div class="wavy-bg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,224L48,234.7C96,245,192,267,288,240C384,213,480,139,576,112C672,85,768,107,864,133.3C960,160,1056,192,1152,208C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z" style="user-select: auto;"></path></svg>
    </div>

    <section class="home_page">
        <div class="container-fluid">
           <div class="row">
           <div class = "col-sm-3 col-md-6 col-lg-6 order-1 mb-2">
             <h2><b>Welcome To Curiosity.</b></h2>
             <h4>Free, Simple, Easy to Use Question Answer Platform<br/> for college students to clear their doubts.
                Ask questions on any topic,<br/>
                get real answers from real people.
            </h4>
            <br/>
              <%if(!currentUser){%>
                  <a href="/signup"> <button  class="btn btn-primary"> Sign up </button> </a>
              <a href="/login"> <button class="btn btn-outline-primary"> Login </button> </a>
              <%}%>
            </div>
            <div class = "col-sm-9 col-md-6 col-lg-6 order-2  mb-2 ">
                <img src="images/19197641.jpg" alt="image" class="img-fluid">
              </div>
          </div>
        </div>
      </section>


  
  <!--Section 2 Starts-->
  <section class="sec_page mb-5 mt-5" >
      <div class="content">
      <h2>FEATURES</h2>
      <h2>FEATURES</h2>
      </div>
      <div class="container">
          <div class="row">
              <div class = "col-sm-9 col-md-6 col-lg-6 order-2  mb-2">
                 <img src="images/e-learning.jpg" alt="image" class="img-fluid">
              </div>
              <div class = "col-sm-3 col-md-6 col-lg-6 order-1 mb-2">
               <h3>Free & easy to use</h3>
               <h4>Get your answers from other Students.</h4><br>
               <p>Curiosity is a free and easy way to ask your doubts from other students around the world.If you don't have an account, signing up is free and easy to do.</p>
            </div>
      </div>
  
      <div class="row">
          <div class = "col-sm-9 col-md-6 col-lg-6 order-1  mb-2">
             <img src="images/4412009.jpg" alt="image" class="img-fluid">
          </div>
          <div class = "col-sm-3 col-md-6 col-lg-6 order-2 mb-2 mt-5">
           <h3>skills</h3>
           <h4>See where your skills stand.</h4><br>
           <p>For thousands of years, people have known that the best way to understand a concept is to explain it to someone else.You can help your fellow mates by resolving their doubts.</p>
          </div>
      </div>
  
      <div class="row">
        <div class = "col-sm-9 col-md-6 col-lg-6 order-2  mb-2">
          <img src="images/typing.jpg" alt="image" class="img-fluid">
        </div>
        <div class = "col-sm-3 col-md-6 col-lg-6 order-1 mb-2">
         <h3>Versatile & Adaptable</h3>
         <h4>Practice applying new skills.</h4><br/>
         <p>With different sections for different streams, you can ask your doubts and get answers in a friendly environment . </p>
       </div>
    </div>
   </div>    
  </section>
    
  <!-- Section 3 starts -->
  <section class="aboutcuriosity">
    <h2>What is Curiosity all about? </h2>
    <div class="container2">
          <div class="card">
              <div class="face face1">
                  <div class="content">
                      <img src="https://www.intaxing.in/include/png/index.png">
                      <h3 >Flexibility</h3>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <p> Flexible and easy to use for students of diffrent branch.</p>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="face face1">
                  <div class="content">
                      <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                      <h3>Open Source</h3>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <p>Find us on Github and use our code for your projects.</p>  
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="face face1">
                  <div class="content">
                      <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                      <h3>Encourage</h3>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <p>To give hope, support & confidence to students of all branches.</p> 
                  </div>
              </div>
          </div>
      </div>
      <hr/>
      <hr/>
      <hr/>
</section>   

<!-- Section 4 -->
<section class="about mb-5">
    <div class="container">
    <div class="row">
          <div class = "col-sm-9 col-md-6 col-lg-6 order-2  mb-2"> 
                <img src="images/sizemini_93.jpg" alt="image" class="img-fluid">
          </div>
    <div class = "col-sm-3 col-md-6 col-lg-6 order-1 ">
          <div class="wrapper">
                <div class="static-txt">We</div>
                <ul class="dynamic-txts">
                      <li><span>build the world!</span></li>
                      <li><span>move the world!</span></li>
                      <li><span>run the world!</span></li>
                      <li><span>are engineers!</span></li>
                </ul>
          </div>
          <h2>Inspire and be Inspired.</h2><br/>
          <h6>Failure is central to engineering. Every single calculation that an engineer makes is a failure calculation.
              Successful engineering is all about understanding how things break or fail.
          </h6>
    <p style="text-align: end;">-Henry Petroski</p>
    <div >
        <a href="/about"><button type="button" class="btn btn-secondary btn-rounded">About Us!</button></a>
      </div>
      </div>
    </div>
    </div>
</section>

<!-- Section 5  -->
<section class="comingsoon">
<div class="container-fluid">
<div class="row">
<div class = "col-sm-9 col-md-6 col-lg-6 order-2  mb-2">
<img src="images/coming3.jpg" alt="image" class="img-fluid">
</div>
<div class = "col-sm-3 col-md-6 col-lg-6 order-2 mb-2">
        
<h2>Something new </h2>
<h3> is on its way...</h3>

<br/>
<p>&#10002; One to One Communication Comming Soon.</p>
<p>&#10002; Group Discussion Comming Soon.</p>
<p>&#10002; Dark theme comming Soon.</p>
<p>&#10002; Image attachment with question Comming Soon.</p>

</div>
</div>
</div>
</section>

  <%-include('partials/footer.ejs') %>
  <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
  ></script>
  
  </body>
  
  </html>