<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>

<% if(currentUser){%>
    <%- include("partials/LoggedNavbar.ejs"); -%>
  <%} else {%>
    <%- include("partials/navbar.ejs"); -%>
  <%}%>
  
<%-include("partials/flash.ejs") %>

<section class="my_acc">
    <div class="container">
        <div class="row">
            <div class="user_profile">
                
                <div class="user_profile">
                    <div class="profile_pic" >
                        <% if( profile.dp.length>0 && profile.dp !== "/images/user.png"){%> 
                    <img
                    src="<%=profile.dp%>" alt="Profile Pic" 
                    class=" img-fluid" id="dp"/> 
                    </div>
                    <% }else{ %> 
                     <i class="user_icon fas fa-user-circle fa-10x"></i>
                     <% } %> 

                <div class = "my_background rounded">
                    <a href="/Editprofile" style="float: right;"><button class="edit_profile btn btn-sm btn-secondary" type="button">Edit Profile</button></a>
                 </div>
            
                <div class="upload">
                        <form action="/profiledp" method="POST" id="jsform" enctype="multipart/form-data">
                        <input type="file" name="profilepic" id="actual-btn" hidden required>
                        <label for="actual-btn" id="from" style="cursor: pointer; color: black;"> <i class="fas fa-camera fa-2x"></i></label>
                       </form>
                </div>

                </div>
                <div class="username">
                    <span class="display-6"><b><%=profile.username%></b></span>
                    <p ><%=profile.intro%></p>
                </div>
            </div>
        </div>  
</section>


<section class="my_acc_body">
    <div class="container">
        <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <h4>My details</h4>
                                </thead>
                                <hr>
                                  <tbody>
                                    <tr>
                                      <td><b>Name</b></td>
                                      <td><b><%=profile.username%></b></td>
                                    </tr>
                                    <tr>
                                    <td><b>Stream</b></td>
                                    <td><b><%=profile.branch%></b></td>
                                    </tr>
                                    <tr>
                                        <td><b>Email</b></td>
                                        <td><b><%=profile.email%></b></td>
                                    </tr>
                                    
                                  </tbody>
                            </table>
                        </div>
                    </div>
              
        </div>
    </div> 
</section>


<section class="my_acc_body">
    <div class="container">
        <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <h4>My Stats</h4>
                                </thead>
                                <hr>
                                  <tbody>
                                    <tr>
                                      <td><b>Followers</b></td>
                                      <td><b>Following</b></td>
                                      <td><b>Answered</b></td>
                                      <td><b>Asked</b></td>
                                    </tr>
                                    <tr>
                                      <td><%=profile.followers%></td>
                                      <td><%=profile.followings%></td>
                                      <td><%=profile.answers%></td>
                                      <td><%=profile.questions%></td>
                                    </tr>
                                  </tbody>
                            </table>
                        </div>
            </div>
        </div>
    </div> 
</section>

<section class="my_acc_body">
    <div class="container">
        <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title"><h4>INFO</h4></div><hr>
                            <canvas id="myChart"></canvas>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </section>


<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
<script src="js/myaccount.js"></script>

</body>
</html>