<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>

<%- include("partials/LoggedNavbar.ejs",{Profile: "Profile"});  -%>

<% if(currentUser){%>
    <%- include("partials/LoggedNavbar.ejs"); -%>
  <%} else {%>
    <%- include("partials/navbar.ejs"); -%>
  <%}%>
  
<%-include("partials/flash.ejs") %>

<section class="my_acc">
    <div class="container">
        <div class="row">
    
            <div class="user_profile">
            <i class="user_icon fas fa-user-circle fa-10x"></i>
            <div class=" upload">
                
                <div class="row">
                    <div class = "my_background rounded">
                        <a href="/Editprofile" style="float:right"><button class="edit_profile btn btn-sm btn-secondary" type="submit">Edit Profile</button></a>
                    </div>
                
                    <input type="file" id="actual-btn" hidden>
                <label for="actual-btn" style="cursor: pointer; color: black;"><i class="fas fa-camera fa-2x"></i></label>
            </div>
            </div>
            
            <div class="usename">
                    <span class="display-6">UserName</span>
                    <p>Bio</p>
            </div>
        </div>
    </div>  
</section>

<section class="my_acc_body">
    <div class="container">
        <div class="row">
            <div class="mdl-card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <h4>UserName Stats</h4>
                                </thead>
                                <hr>
                                  <tbody>
                                    <tr>
                                      <td><b>Followers</b></td>
                                      <td><b>Answered</b></td>
                                      <td><b>Asked</b></td>
                                    </tr>
                                    <tr>
                                      <td>10</td>
                                      <td>10</td>
                                      <td>10</td>
                                    </tr>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="my_acc_body">
    <div class="container">
        <div class="row">
            <div class="mdl-card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <h4>About</h4>
                                </thead>
                                <hr>
                                  <tbody>
                                    <tr>
                                      <td><b>Name</b></td>
                                      <td><b>UserName</b></td>
                                    </tr>
                                    <tr>
                                    <td><b>Stream</b></td>
                                    <td><b>CSE</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>Email</b></td>
                                        <td><b>UserEmail</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>College</b></td>
                                        <td><b>College</b></td>
                                    </tr>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>


<section class="my_acc_body">
    <div class="container">
        <div class="row">
            <div class="mdl-card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title"><h4>INFO</h4></div><hr>
                            <canvas id="myChart"></canvas>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </section>


<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>


</body>
</html>