<%-include('partials/header.ejs' , {style:"/stylesheets/style.css"}) -%>
<%- include("partials/LoggedNavbar.ejs",{Profile: "Profile"});  -%>
<%-include("partials/flash.ejs") %>



<section class="my_acc">
    <div class="container">
        <div class="row">
    
            <div class="user_profile">
           
                <div class="profile_pic" >
                    <img
                    src="<%=profile.dp%>" alt="Profile Pic" 
                    class=" img-fluid" id="dp"/> 
                    </div>
            <div class=" upload">
                
                <div class="row">
                    <div class = "my_background rounded">
                        <%if(isFollowing === false){%>

                            <a href="/follow/<%=profile._id%>" style="float:right"><button class="follow btn btn-sm btn-secondary" type="submit">Follow</button></a>
                        <%} else {%>
                            <a href="/unfollow/<%=profile._id%>" style="float:right"><button class="follow btn btn-sm btn-secondary" type="submit">Unfollow</button></a>
                        <%}%>
                    </div>
                
                    <input type="file" id="actual-btn" hidden>

            </div>
            </div>
            
            <div class="usename">
                    <span class="display-6"><%=profile.username%></span>
                    <p><%=profile.intro%></p>
            </div>
        </div>
    </div>  
</section>

<section class="my_acc_body">
    <div class="container">
        <div class="row">
            <div class="mdl-card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                           <div style="overflow-x:auto;">
                            <table class="table table-hover">
                              <thead>
                                  <h4><%=profile.username%> Stats</h4>
                              </thead>
                              <hr>
                                <tbody>
                                  <tr>
                                    <td><b>Followers</b></td>
                                    <td><b>Followings</b></td>
                                    <td><b>Answered</b></td>
                                    <td><b>Asked</b></td>
                                  </tr>
                                  <tr>
                                    <td><span id="followers"><%=profile.followers%></span></td>
                                    <td><span id="followings"><%=profile.followings%></span></td>
                                    <td><span id="answered"><%=profile.answers%></span></td>
                                    <td><span id="asked"><%=profile.questions%></span></td>
                                  </tr>
                                </tbody>
                          </table>

                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="my_acc_body">
    <div class="container">
        <div class="row">
            <div class="mdl-card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                           <div style="overflow-x:auto;">
                            <table class="table table-hover">
                              <thead>
                                  <h4>About</h4>
                              </thead>
                              <hr>
                                <tbody>
                                  <tr>
                                    <td><b>Name</b></td>
                                    <td><b><%=profile.username%></b></td>
                                  </tr>
                                  <tr>
                                  <td><b>Stream</b></td>
                                  <td><b><%=profile.branch%></b></td>
                                  </tr>
                                  <tr>
                                      <td><b>Email</b></td>
                                      <td><b><%=profile.email%></b></td>
                                  </tr>
                                </tbody>
                          </table>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>


<section class="my_acc_body">
    <div class="container">
        <div class="row chart">
                    <div class="card" style="width: 50rem;">
                        <div class="card-body">
                            <div class="card-title"><h4>INFO</h4></div><hr>
                            <canvas id="myChart"></canvas>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</section>




<script>
    let followers = document.getElementById("followers").textContent;
  followers = Number(followers);

  let followings = document.getElementById("followings").textContent;
  followings = Number(followings);

  let answered = document.getElementById("answered").textContent;
  answered = Number(answered);

  let asked = document.getElementById("asked").textContent;
  asked = Number(asked);

  const ctx = document.getElementById("myChart").getContext("2d");

  const myChart = new Chart(ctx, {
    type: "doughnut",
    data: {
      labels: ["followers", "followings", "answered", "asked"],
      datasets: [
        {
          label: "# of Actions",
          data: [followers, followings, answered, asked],
          backgroundColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(153, 102, 255, 1)",
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(153, 102, 255, 1)",
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
    
</script>




<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>


</body>
</html>