<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>
<% if(currentUser){%>
  <%- include("partials/LoggedNavbar.ejs"); -%>
<%} else {%>
  <%- include("partials/navbar.ejs"); -%>
<%}%>

<%-include("partials/flash.ejs") %>

<body class="body">

<div class="card mb-2 mt-4" >
  <div class="card-body">
   <h1> <b><%=question.statement %> </b></h1>
    <hr />
<button
style="float:right"
  type="button"
  class="btn btn-primary"
  data-mdb-toggle="modal"
  data-mdb-target="#exampleModal"
>
Add Answer
</button>
</div>
</div>

<section class="container">
    <div class="container">
     <div class="row">
       <% for(let answer of question.answers) { %>
     <div class="card mb-3 mt-3">
      <div class="card-body">
        <span style="float: right;"><%= answer.createdAt.toLocaleDateString() %></span>
        <main><%-answer.content%></main> 
      </div>
    </hr>
    </div>
  </div>
  <% } %>
</div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >New Answer</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form  action="/newanswer" method="POST">
          //code for editor
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mb-4">
                <textarea name="answer"></textarea>
            <input type="hidden" name="questionId" value="<%=question._id%>" />
          </div>
          <button type="submit" value="submit" class="btn btn-primary" style="float: right;">Add Answer</button>
    </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>

<script>
  CKEDITOR.replace('answer',{
      removePlugins : 'image,link,h1,h2',
      format_tags: 'p;h4;h5;h6;pre;address;div'
   }); 
 </script>
</body>

</html>


