<%-include('partials/header.ejs' , {style:"/stylesheets/style.css"}) -%>


<% if(currentUser){%>
  <%- include("partials/LoggedNavbar.ejs"); -%>
<%} else {%>
  <%- include("partials/navbar.ejs"); -%>
<%}%>

<%-include("partials/flash.ejs") %>

<body class="body">

<section>
<div class=" container card Quescard  w-100  mb-4 mt-4 " data-mdb-toggle="modal" data-mdb-target="#ansModal" ">
  <div class="row ">
    <div class="col-md-2">
      <img src="/images/2152.jpg" alt="" class="img-fluid">

    </div>
    <div class="col-md-10">
      <div class =" mb-2 mt-4  style="text-transform: capitalize;" >
        <div class="card-body">
              <div class="card-title" style="color:#0a0111;"><h2><%= question.statement %>?  </h2></div>
              <div style="float: right; color:#5aa0c9; font-weight: 900;">Click to answer</div>
        </div>
    </div>
  </div>
  </div>
   

</div>
<section class="container">
    <div class="container">
    
<% if(question.answers.length === 0){ %>
    <div class="no_qna">
        <h3 class="display-4" style="text-align: center; margin-top: 10px;">Be the first to answer the  Question</h3>
    </div>

 <%} else {%>
       <% for(let answer of question.answers) { %>
       <div class="card mt-4 mb-4" >
       <div class="row" >
       <div class=" col-md-12 mb-3 mt-3 answercard">
       <div class="card-body ">
        
        <span style="float: right; color: #d8e2dc;"><%= answer.createdAt.toLocaleDateString() %></span>
        <div class="card-title " ><h5 style="font-size:20px; color:#e63946;">Submitted By : <a class="cardanc" href="/PublicProfile/<%=answer.author._id%>"><%=answer.author.username %></a></h5> </div>
        <div class="card-title"><p style="font-size:20px; font-weight: 700;"><%-answer.content%></p> </div>
        
      </div>
    </div>
  </div>
</div>
  <% } %>
  <% } %>
</div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="ansModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >New Answer</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/newanswer">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mb-4">
                <textarea name="answer"></textarea>
            <input type="hidden" name="questionId" value="<%= question._id %>" />
          </div>
          <button type="submit" value="submit" class="btn btn-primary" style="float: right;">Add Answer</button>
    </form>
      </div>
    </div>
  </div>
</div>

</section>
<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>

<script>
  CKEDITOR.replace('answer',{
      removePlugins : 'image,link,h1,h2',
      format_tags: 'p;h4;h5;h6;pre;address;div'
   }); 
 </script>
</body>
</html>


